/* Base style */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}
.s-p {
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-sec {
    background: #f8f9f8;
}
.s-btn {
    padding: 5px 20px;
    background: #ee8683 !important;
    color: white !important;
}

/* Navigation */

nav.s-nav {
    background: transparent;
    padding: 20px 0;
    transition: 0.5s all;
}
nav .navbar-brand {
    font-size: 30px;
    color: white;
    transition: 0.5s all;
}

nav .navbar-nav li a {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li {
    margin-left: 15px;
}
nav.s-nav.stickyAdd {
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0, 0.5);
    transition: 0.5s all ease-in-out;
}
nav.stickyAdd .navbar-brand {
    color: black;
    font-size: 40px;
    transition: 0.5s all;
}
nav.stickyAdd .navbar-nav .nav-link {
    color: black !important;
}
.navbar .hamburger {
    color: white;
}
nav.stickyAdd .hamburger {
    color: black;
}

/* Header Section */
header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../Image/fulscreen-22.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-box {
    max-width: 700px;
    color: white;
}

.content-box h4 {
    font-size: 30px;
}
.content-box h1 {
    font-size: 40px;
}
.content-box a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 25pxs;
}
.content-box a:hover {
    color: black;
    background: white;
    transition: 0.5s all;
}
.content-box p {
    color: rgb(225, 220, 220);
}

/* About Section */

.about li a {
    color: black;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.about li a:nth-child(1):hover {
    color: rgb(42, 42, 228);
}
.about li a:nth-child(2):hover {
    color: rgb(42, 42, 228);
}
.about li a.youtube:hover {
    color: rgb(228, 42, 42);
}
.about li a.instagram:hover {
    color: rgb(228, 42, 42);
}

/* Experience Section */
.exp-class .progress {
    height: 10px;
    border-radius: 20px;
    font-size: 10px;
}
.progress-bar {
    background-color: #ee8682 !important;
}
.exp-class label {
    font-size: 20px;
    margin: 10px;
}

/* Service Section */

.card,
.card-header {
    background: #f8f9f8 !important;
}
.card.header {
    border: none !important;
}
.services-class .card-header i {
    font-size: 50px;
}
.service-border {
    height: 2px;
    width: 40px;
    margin: 15px auto;
    background: #e65f78;
}
